.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .todoForm {
    position: relative;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    align-items: center;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    animation: pop-in 0.3s linear forwards;

    @keyframes pop-in {
      from {
        transform: translateY(200%);
      }
      to {
        transform: translateY(0);
      }
    }

    .close {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;

      & > img {
        width: 60%;
      }
      &:hover {
        background-color: #ebebeb;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      width: calc(400px + 20px);

      .status {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
          font-size: 1.1em;
          font-weight: 600;
        }
      }

      .priorityWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .priority {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #dedede;
          cursor: pointer;

          &:nth-child(2) {
            background-color: green;
          }
          &:nth-child(3) {
            background-color: goldenrod;
          }
          &:nth-child(4) {
            background-color: red;
          }
        }
        .active {
          border: 2px solid #1ca0f2;
        }
      }
    }
    .options {
      display: flex;
      gap: 30px;

      button {
        width: 150px;
        padding: 5px 10px;
        border: none;
        border-radius: 30px;
        font-size: 1.1em;
        font-weight: 700;
        cursor: pointer;
        background-color: #1ca0f2;
        color: #fff;
        transition: 0.2s;
        &:hover {
          background-color: #0b7bc1;
        }

        &:disabled {
          cursor: not-allowed;
        }
      }

      .cancel {
        background-color: red;
        &:hover {
          background-color: #cc0000;
        }
      }
    }
  }

  .back {
    animation: pop-out 0.3s linear forwards;

    @keyframes pop-out {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(200%);
      }
    }
  }
}
