<div class="sidebar">
  <div class="types">
    <a routerLink="/home/all" routerLinkActive="active" class="type">
      <img src="/assets/sidebar/all.png" alt="all" class="icon" />
      <span>All</span></a
    >
    <a routerLink="pending" routerLinkActive="active" class="type">
      <img src="/assets/sidebar/pending.png" alt="all" class="icon" />

      <span>Pending</span></a
    >
    <a routerLink="priority" routerLinkActive="active" class="type">
      <img src="/assets/sidebar/priority.png" alt="all" class="icon" />

      <span>Priority</span></a
    >
    <a routerLink="completed" routerLinkActive="active" class="type">
      <img src="/assets/sidebar/completed.png" alt="all" class="icon" />

      <span>Completed</span></a
    >
  </div>
</div>
