.todo {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin: 0 auto;
  background-color: #f5f5f5;

  .top {
    display: flex;
    align-items: center;

    .priority {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #dedede;
    }
    .low {
      background-color: green;
    }

    .mid {
      background-color: goldenrod;
    }

    .high {
      background-color: red;
    }

    .name {
      margin-left: 20px;
      font-size: 1.3em;
      font-weight: 700;
    }
    .completed {
      text-decoration: line-through;
    }

    .expand {
      margin-left: auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: hsl(203, 89%, 93%);
      }

      & > img {
        width: 30px;
        transition: 0.2s linear;
      }

      & > img.up {
        transform: rotate(180deg);
      }
    }
  }

  .center {
    display: flex;
    align-items: center;

    .desc {
      width: 70%;
      font-size: 1.2em;
      font-weight: 300;
    }

    .options {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .option {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(188, 89%, 93%);
        cursor: pointer;

        &:nth-child(2) {
          background-color: hsl(5, 81%, 93%);
        }

        & > img {
          width: 20px;
        }

        .actionIntent {
          padding: 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: absolute;
          left: 20px;
          top: 20px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          z-index: 99;
          animation: pop-out 0.2s ease-out;

          @keyframes pop-out {
            from {
              transform: scale(0.75);
            }
            to {
              transform: scale(1);
            }
          }

          .intentOptions {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 10px;

            button {
              width: 80px;
              padding: 5px 10px;
              border: none;
              border-radius: 20px;
              font-size: 0.9em;
              font-weight: 700;
              cursor: pointer;
              background-color: #1ca0f2;
              color: #fff;
              transition: 0.2s;
              &:hover {
                background-color: #0b7bc1;
              }

              &:disabled {
                cursor: not-allowed;
              }
            }

            .cancel {
              background-color: red;
              &:hover {
                background-color: #cc0000;
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .status {
      font-size: 1.1em;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      & > img {
        width: 20px;
      }
    }

    .date {
      font-size: 14px;
    }
  }
}
