<div class="todo">
  <div class="top">
    <span class="priority" [ngClass]="getPriorityClass()"></span>
    <span class="name">{{ todo.name }}</span>
    <span class="expand" (click)="expanded = !expanded">
      <img
        [ngClass]="{ inverted: expanded }"
        src="/assets/down.png"
        alt="expand"
      />
    </span>
  </div>
  <div class="center" *ngIf="expanded">
    <span class="desc">
      {{ todo.description }}
    </span>
    <div class="options">
      <span class="option"><img src="/assets/edit.png" alt="edit" /></span>
      <span class="option"><img src="/assets/delete.png" alt="delete" /></span>
    </div>
  </div>
  <div class="bottom">
    <span class="status">
      <img
        [src]="
          todo.completed
            ? '/assets/sidebar/completed.png'
            : '/assets/sidebar/pending.png'
        "
        alt="status"
      />
      {{ todo.completed ? "Completed" : "Pending" }}
    </span>
    <span class="date"> {{ todo.updatedAt | date: "short" }} </span>
  </div>
</div>
