// font sizes
$fz-xx-small: 9px;
$fz-x-small: 10px;
$fz-small: 13px;
$fz-medium: 16px;
$fz-large: 18px;
$fz-x-large: 24px;
$fz-xx-large: 32px;

// bg colors
$error-red-bg: #f28b82;
$success-green-bg: #cdff90;
$teal-bg: #dbfff3;
