<div class="footer">
  <span class="copy"
    >Copyright © 2020–2022<img
      src="/assets/logo.png"
      alt="logo"
      (click)="handleLogoClick()"
    />
    ™</span
  >
  <ul class="socials">
    <a
      class="social"
      href="https://www.instagram.com/_pranv_/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img src="/assets/footer/instagram.png" alt="instagram" />
    </a>
    <a
      class="social"
      href="https://www.linkedin.com/in/pranav-yeole-3aab14215/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img src="/assets/footer/linkedin.png" alt="linkedin" />
    </a>
    <a
      class="social"
      href="https://github.com/pranvinit"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img src="/assets/footer/github.png" alt="instagram" />
    </a>
  </ul>
</div>
